body {
   width:100%;
   font-family: 'Ovo', serif;
   margin: 0;
   background-color: white;
   /* to keep footer at bottom of page*/
   padding:0;
   height:100%;
   line-height: 2em;
   letter-spacing: .01em;
}

.container-fluid{
  margin: auto;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;    
   /* to keep footer at bottom of page*/
  position:relative;
  min-height:100%;
  padding-bottom:220px; /* Height of the footer element */
}

p {
  font-family: 'Fanwood Text', serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2{
 margin-bottom: 70px;
  font-size: 40px;  
}

h3{
   font-size: 38px;
  font-weight: 100;
}

h4{
   font-size: 28px;
}

.card{
  font-size: 22px;
}

.navbar {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
   transition: all 1s ease; 
   -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.navbar-brand, .navbar-right a{
  color: white;
}

#myNavbar a:visited {
  background-color: white;
}

#myNavbar a:hover {
 background-color: transparent;
 text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.navbar-brand
{
  font-size: 25px;
}

.icon-bar{
  background-color: white;
}

#cover {
  max-width: 100%;
  height: 100vh;
  /*padding-top: 200px;*/
  
  background-image: url(../images/glassesInDesk.jpg);
 /*
  background-image: url(https://images.unsplash.com/photo-1415394171664-b29caa4dca77?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=573e0c5f7ecd48c7dd642885a880b41f);
  background-image: url(   https://images.unsplash.com/photo-1452711932549-e7ea7f129399?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=58b1e18ecae2804d6f2df344530bdaf6);
   background-image: url(https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a9c79afe3d7a158a876502b1cc548332);
   */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#cover-name{
  color: white;
  margin-top: 25%;
  font-size: 70px;
}

.arrow {
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  box-sizing: border-box;

  transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease; 
}

.arrow .btn{
  color: white;
  font-size: 35px;
  padding: 0;
  width: 100%;
}

.arrow:hover .btn{
   transform: scale(1.20); 
}

.section{
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
}

.section-content{
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.row{
  margin: auto;
}

#projects {
  background-color:  #f6f6f6
}

#projects > h2{
  margin-bottom: 0;
}

/* Using bootstrap's navbar default blue color: #337ab7 */
#projects > #subheader{
  margin-bottom: 70px;
  font-size: 22px;
  color: #337ab7;
}

#projects a{
    color: black;
    text-decoration: none;
}

#project-list{
  padding-top: 10px;
  list-style: none;
  padding-left: 0 !important;
  display: flex !important;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-card{
  width: 320px;
  height: 415px;
  display: block;
  margin-bottom: 40px;
  text-align: left;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.10);
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #D3D3D3;
  box-sizing: border-box;
  background-color: white;
}

.card-img{
    height: 50%;
    overflow: hidden;  
}

.card-img_src{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0; 

   transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.single-card:hover .card-img_src{
    transform: scale(1.18);  
}

.card-info{
  padding: 15px;
 }

.single-card:hover .card-name{
   color: #337ab7;
   text-decoration: none;
}

.blue-divider{
  width: 100%;
  height: 6px;
  background-color: #337ab7;
}

#contact a:visited{
    color: #337ab7;
}

#contact a:link {
    color: #337ab7;
}

.btn-social-icon{
  font-size: 40px;
}


footer {
  font-size: 16px;
  width:100%;
  height:120px;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  bottom:0;
  left:0;
  background-color: gray;
  color: white;
}

@media only screen and (max-width: 550px) {
  #cover{
    /*background-image: url(../images/glassesInDesk_Xs.jpeg);*/
  }

  #cover-name{
   margin-top: 50%
  }
}

@media only screen and (max-width: 767px) { 
}