body {
   width:100%;
   font-family: 'Ovo', serif;
   /* padding-top: 70px;*/
   margin: 0;
   /* to keep footer at bottom of page*/
   padding:0;
   height:100%;
}

p {
  font-family: 'Fanwood Text', serif;
  font-size: 16px;
}

.container-fluid{
  margin: auto;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;    
}

.navbar {
  /*eliminate white space under bootstrap's nav bar*/
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  /*border-bottom: 2px solid #cccccc;*/
   -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; 
}

.navbar-brand, .navbar-right a{
  color: white;
}

#myNavbar a:visited {
  background-color: white;
}

#myNavbar a:hover {
 background-color: transparent;
 text-decoration: underline;
}


.active {
 /* background-color: white; */
  text-decoration: underline;
}

.navbar-header  a {
  font-size: 25px;
}

/* Using bootstrap's navbar default blue color: #337ab7 */
.icon-bar{
  background-color: #337ab7;
}

#cover {
  max-width: 100%;
  height: 100vh;
  /*padding-top: 200px;*/
  background-image: url(../images/glassesInDesk.jpg);
 /*
  background-image: url(https://images.unsplash.com/photo-1415394171664-b29caa4dca77?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=573e0c5f7ecd48c7dd642885a880b41f);
  background-image: url(   https://images.unsplash.com/photo-1452711932549-e7ea7f129399?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=58b1e18ecae2804d6f2df344530bdaf6);
   background-image: url(https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a9c79afe3d7a158a876502b1cc548332);
   */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: 100%; 
  background-color: #cccccc;
  vertical-align: middle;
  overflow: hidden;
}

#cover-name{
  color: white;
  margin-top: 25%;
 /* padding-bottom: 350px;*/
  font-size: 70px;
}

.arrow {
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -50px;
  /*margin-left: -75px;*/
  width: 100px;
  box-sizing: border-box;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; 
}

.arrow .btn{
  color: white;
  font-size: 35px;
  padding: 0;
  width: 100%;
}

.arrow:hover .btn{
   transform: scale(1.20); 
}



.section{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  margin: auto;
}

h2{
 margin-bottom: 70px;
  font-size: 40px;  
}

h3{
   font-size: 38px;
  font-weight: 100;
}

h4{
   font-size: 30px;
}

.section-content{
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

#projects {
  background-color:  #f6f6f6
  /*background-color: #D3D3D3;*/
  /* z-index: 1003; */
}

#projects > h2{
  margin-bottom: 0;
}

#projects > #subheader{
  margin-bottom: 70px;
  font-size: 22px;
  color: #337ab7;
}

#projects a{
    color: black;
    text-decoration: none;
}



#project-list{
  /*
  border-style: solid;
  border-width: thin;
  */
    padding-top: 10px;
  list-style: none;
  padding-left: 0 !important;
  display: flex !important;
  /*display: -webkit-flex;*/
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-card{
  width: 320px;
  height: 415px;
  display: block;
  margin-bottom: 40px;
  text-align: left;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.10);
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #D3D3D3;
  box-sizing: border-box;
  background-color: white;
}

.card-img{
    height: 50%;
     overflow: hidden;  
}

.card-img_src{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0; 

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


.single-card:hover .card-img_src{
  
    transform: scale(1.18);
    border-radius: 5px 5px 0 0;  
}

.card-info{
  padding: 20px;
 }

.single-card:hover .card-name{
   color: #337ab7;
   text-decoration: none;
}


.blue-divider{
  width: 100%;
  height: 6px;
  background-color: #337ab7;
  margin-top: 0;
}

.card-overlay{
  background: #7d5bbe;
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: thin;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 50%;
 }

 
.row {
 /*background-color: green;*/
  margin-bottom: 50px;
}

/* Using bootstrap's navbar default blue color: #337ab7 */
#contact a:visited { 
    color: #337ab7;
}

#contact a:link {
    color: #337ab7;
}

.btn-social-icon{
  font-size: 50px;
}

footer {
  padding: 50px;
}

.navbar-default{
   background-color: gray;
  /*background-color: #EEE;*/
}

@media only screen and (max-width: 1100px) {

  .aboutme-pic-holder{
     width: 375px;
     margin: auto;
  }
  
  #about p{
  text-align: justify;
  }

  #cover-name{
   /*margin-top: 50%;*/
  }
   
  .project-details{
  text-align: center;
    }
  }
}

@media only screen and (max-width: 550px) { 
}
/*@media only all and (max-width: 1000px) {
  //375px is current width of about-me-pic. Adjust when changing image. Wonder if I could have used responsive boostrap for this.
  .aboutme-pic-holder{
     width: 375px;
     margin: auto;
  }
  
  #about p{
  text-align: justify;
  }

  #cover-name{
   // margin-top: 50%;
  }
   
  .project-details{
  text-align: center;
    }
  }
  */